/.vscode
/never-master/.vscode
/never-master/bin
/never-master/dotnet
/never-master/maps
/never-master/node_modules
/never-master/plugins
/never-master/BugTrap-x64.dll
/never-master/linux_x64.tar.gz
/never-master/package-lock.json
/never-master/ragemp-server.exe